<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxzcanying.winterproject.mapper.FavoriteMapper">
    <insert id="addFavorite">
        INSERT INTO favorite (user_id, book_id)
        VALUES (#{userId},#{bookId})
    </insert>

    <delete id="deleteFavorite">
        DELETE FROM favorite
        WHERE user_id=#{userId} AND book_id=#{bookId}
    </delete>

    <select id="getFavoritesByUserId" resultType="com.cxzcanying.winterproject.entity.Book">
        SELECT b.id, b.title, b.author, b.category, b.price,b.published_year,f.created_at
        FROM favorite f
                 JOIN book b ON f.book_id = b.id
        WHERE f.user_id = #{userId}
    </select>
</mapper>